.nav {
    background: #1199ff;
    height: 3rem;
}

.nav-logo {
    font-size: 2.5rem;
    margin: 1rem;
    color: #fff;
}

.nav-link {
    font-size: 1.25rem;
    margin: 1.5rem;
    text-decoration: none;
}

.home-page {
    text-align: center;
}

.pokeapi-page {
    text-align: center;
}